#bear-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
.green-background {
  background-color: green;
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  font-style: italic;
  font-family: fantasy;
  color: orange;
}
body{
  font-family: skia;
  text-align: center;
}
.yellow-background{
  background-color: yellow;
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  font-style: oblique;
  font-family:sans-serif;
  color: green;
}
.red-background{
  background-color: red;
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  color: blue;

}
